<h1>パスワード再設定</h1>

<p>下記のリンクをクリックしてパスワード再設定画面にアクセスしてください</p>

<a href="<%= "http:localhost:8080/password-reset/#{@user.reset_token}/#{@user.email}" %>">パスワード再設定</a>

<p>このリンクは作成されてから2時間有効です。</p>

<p>
  ご本人様でない場合はこのメールを消去してください。<br>
  リンク先でパスワードを再設定しない限り現在のパスワードは更新されません。
</p>