<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>, Welcome to << business name >>.</h1>
    <p>Thank you for signup with us.</p>
    <p>your user name is"<%= @user.first_name %>"</p>
    <p>email address is "<%= @user.email %>"</p>
    
    <p>If you did not signup, please let us know.</p>
    <p><< business name >></p>
    <p><< business email here >></p>
  </body>
</html>